@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');



body{
    color: #393d41;
    line-height: 1.65;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}
h1, h3 { 
    font-family:'montserrat';
    line-height: 1.5;
    color: #25a2c3 ;
    

}

main, footer {
    width: 450px;      
  margin: 20px auto; 
  padding: 20px;  
}

button{
  padding: 10px 20px;
  background-color: #ff0000;
  color: white;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
div {margin-bottom: 20px;}
footer{
    color: white;
    background-color: #25a2c3;
    margin-bottom: 0;
}
#banner{
    padding: 10%;
    margin-left: -5%;
    margin-right: -5%;
    background-size: 100%;
    background-image:url(./banner.jpg) ;
}
#notebook {
    border-radius: 100%;
}
#marione{
    color: white;
    background-color: #ff0000;
    margin-left: -5%;
    margin-right: -5%;
}
#foot{
    color: white;
    background-color: #25a2c3;
    line-height: 20px;
}

#icon, .us {
 color: white;
}
.div-spieg {
    background-color: white;
    border: 4px solid #dee1e3;
    margin-bottom: 20px ;
    cursor: pointer
}
.logo {
    margin-right: -10%;
    line-height: 1.5;
    color: white;
    background-color: black;


}
.sec-spieg {
    width: 100%;
    
}
